
.table-hover tr:hover {
  background-color: #f8f9fa; /* Change to your desired grey color */
}

.table-rounded {
  border-radius: 10px; /* Change the value to adjust the curvature */
  overflow: hidden;
}